body {
    font-family: arial,sans-serif;
    margin: 0;
}
header {
    background: #bea9a9;
    color: rgb(58, 52, 52);
    padding: 15px 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: inline;
    list-style: none;
    gap: 20px;
}
a {
    color: rgb(236, 229, 229);
    text-decoration:none
}
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #cec6c6;
    text-align: center;
}
.about {
    padding: 60px 20px;
    text-align: center;
}
.skills {
    background: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}
.skills-set {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.skills-list div {
    background: #0e0d0d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.projects {
    padding: 60px 20px;
    text-align: center;
}
.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}
.project-card a {
    margin: 10px;
    display: inline-block;
}
.contact {
    background: #111;
    color: white;
    padding: 40x;
    text-align: center;
}
@media (max-width: 768px)
{
    nav {
        flex-direction: center;
    }    
    ul {
        flex-direction: row;
        gap: 10px;
    }
    .skills-list {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        height: auto;
        padding: 40px 20px;
    }
}