body {
    font-family: arial,sans-serif;
    margin: 0;
}
header {
    background: #bea9a9;
    color: rgb(58, 52, 52);
    padding: 15px 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: row;
    list-style: none;
    gap: 10px;
}
a {
    color: rgb(114, 77, 77);
    text-decoration:none
}
.hero {
    text-align: center;
}
.profile-img {
    width: 140px;
    border-radius: 50%;
    margin-bottom: 20px;
    align-items:center;
}
.about {
    padding: 60px 20px;
    text-align: center;
}
.skills {
    background: #cec4c4;
    padding: 60px 20px;
    text-align: center;
}
.skills-set {
    color: #8a6363;
    display: flex; 
    justify-content: center;
    gap: 20px;
    margin-top: 3px;
}
.skills-list div {
    background: #0e0d0d;
    color: rgb(122, 73, 73);
    padding: 10px 20px;
    border-radius: 5px;
}
.projects {
    padding: 60px 20px;
    text-align: center;
}
.project-card {
    border: 1px solid #7c1919;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}
.project-card a {
    margin: 10px;
    display: inline-block;
}
.contact {
    background: #cfbebe;
    color: rgb(58, 47, 47);
    text-align: center;
    border-radius: 7px;
}
@media (max-width: 768px)
{
    nav {
        flex-direction: center;
    }    
    ul {
        flex-direction: row;
        gap: 10px;
    }
    .skills-list {
        flex-direction: column;
        align-items: center;
    }
    /* .hero {
        height: auto;
        padding: 40px 20px;
    } */
}