body {
    font-family: arial,sans-serif;
    margin: 0;
}
header {
    background: #ccb4b4;
    color: white;
    padding: 15px 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
a {
    color: white;
    text-decoration:none
}
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #cec6c6;
    text-align: center;
}
.about {
    padding: 60px 20px;
    text-align: center;
}
.skills {
    background: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}
.skills-set {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.skills-list div {
    background: #0e0d0d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.projects {
    padding: 60px 20px;
    text-align: center;
}
.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}
.project-card a {
    margin: 10px;
    display: inline-block;
}
.Contact {
    background: #111;
    color: white;
    padding: 40x;
    text-align: center;
}
