body {
    font-family: arial,sans-serif;
    margin: 0;
}
header {
    background: #a39696;
    color: white;
    padding: 15px 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
a {
    color: white;
    text-decoration:none

}