/* General */
body {
  font-family: Arial, sans-serif;
  margin: 10px 20px;
}

/* Navbar */
header { 
  background: #acd4db;
  color: rgb(71, 47, 47);
  padding: 15px 30px;
}
/* h1 {
    /* text-align: start; */
/* } */ 
nav {
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
}

ul {
  display: flex;
  list-style: none;
  /* align-items:center; */
  gap: 20px;
}

a {
  color: rgb(24, 7, 7);
  text-decoration: none;
  align-items: flex-end;
}

/* Hero Section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #a9cbcf;
  margin: 10px 0px;
  text-align: center;
}

.profile-img {
  width: 140px;
  border-radius: 50%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background: rgb(136, 197, 207);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #444;
  transform: scale(1.05);
}

/* About & Skills */
.about, .skills {
  padding: 40px 20px;
  text-align: center;
  background: #b1e6f0;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  background: #84bcd6;
  color: rgb(122, 73, 73);
  padding: 10px 10px;
  border-radius: 5px;
}

.skills-list div {
  background: #111;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Projects Section */
.projects {
  padding: 60px 20px;
  text-align: center;
  background: #b1e6f0;
  margin: 10px 0px;
  
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.project-card {
  background: #9acad3;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #e47b7b;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3 {
  margin: 15px 0 10px;
}

.project-card p {
  padding: 0 15px 15px;
  font-size: 14px;
  color: #464545;
}

.project-card:hover {
    color: gray;
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(143, 124, 124, 0.2);
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 15px;
}

.project-links a {
  text-decoration: none;
  color: white;
  background: #99d4d1;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.project-links a:hover {
  background: #444;
}

/* Contact Section */
.contact {
  background: #97cdd4;
  color: rgb(51, 49, 49);
  padding: 40px;
  text-align: center;
}

/* Fade-in Animation */
section {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {opacity:0; transform: translateY(20px);}
  to {opacity:1; transform: translateY(0);}
}

/* Responsive */
@media (max-width: 768px) {
  nav { flex-direction: column; }
  ul { flex-direction: column; gap: 10px; }
  .skills-list { flex-direction: column; align-items: center; }
  .hero { height: auto; padding: 40px 20px; }
}